/* @media (min-width: 768px) {
    .records-container {
        margin: 0em;
    }

    .record-card {
        width: '90%';
        color: 'white';
    }
}


.record-card {
    width: '90%';
    color: 'white !important';
} */